\documentclass{article}
% ---------- DEFINE VARIABLES FIRST ----------
\BLOCK{ set max_number_str = "1,000,000" }
\BLOCK{ set numeric_char_width = 0.2 }
\BLOCK{ set column_width = (max_number_str|length + 2) * numeric_char_width }
\BLOCK{ set narrative_char_width = 0.18 }
\BLOCK{ set narrative_padding_chars = 20 }
\BLOCK{ set tabcolsep = 0.14 }
\BLOCK{ set total_column_width = column_width + (2 * tabcolsep) }
\newlength{\mixedfundnumericwidth}
\newlength{\mixedfundnumericcolwidth}
\newlength{\mixedfundtablecontentwidth}
\newlength{\mixedfundcolcontentwidth}
\newlength{\mixedfundnarrativewidth}
\settowidth{\mixedfundnumericwidth}{1,000,000}
\setlength{\mixedfundnumericcolwidth}{\dimexpr \mixedfundnumericwidth + 2\tabcolsep\relax}
\BLOCK{ set number_to_letter = {
    1: "a",
    2: "b",
    3: "c",
    4: "d",
    5: "e",
    6: "f",
    7: "g",
    8: "h",
    9: "i",
    10: "j"
} }
\BLOCK{ set pre_post_label = {
    Period.POST_2025: "2025 and later",
    Period.PRE_2025: "pre-2025",
    Period.TRF_CAPITAL: "TRF Capital"
} }
% ---------- CALCULATE MAX WIDTHS ----------
\BLOCK{ set ns_max = namespace(max_columns=0, max_table_width=0) }
\BLOCK{ for broker in report.mixed_funds_log.keys() }
  \BLOCK{ if report.mixed_funds_columns[broker]|length > ns_max.max_columns }
    \BLOCK{ set ns_max.max_columns = report.mixed_funds_columns[broker]|length }
  \BLOCK{ endif }
  \BLOCK{ if report.mixed_funds_pre_post_2025_columns[broker]|length > ns_max.max_columns }
    \BLOCK{ set ns_max.max_columns = report.mixed_funds_pre_post_2025_columns[broker]|length }
  \BLOCK{ endif }
\BLOCK{ set broker_narrative_chars = namespace(value=0) }
\BLOCK{ for entry in report.mixed_funds_log[broker] }
  \BLOCK{ if entry.message|length > broker_narrative_chars.value }
    \BLOCK{ set broker_narrative_chars.value = entry.message|length }
  \BLOCK{ endif }
\BLOCK{ endfor }
\BLOCK{ set broker_narrative_width = (broker_narrative_chars.value + narrative_padding_chars) * narrative_char_width }
\BLOCK{ set broker_pre_post_width = [report.mixed_funds_pre_post_2025_columns[broker]|length * total_column_width, broker_narrative_width]|max }
\BLOCK{ set broker_detailed_width = [report.mixed_funds_columns[broker]|length * total_column_width, broker_narrative_width]|max }
\BLOCK{ set broker_type_width = [report.mixed_funds_type_columns[broker]|length * total_column_width, broker_narrative_width]|max }
\BLOCK{ if broker_pre_post_width > ns_max.max_table_width }
  \BLOCK{ set ns_max.max_table_width = broker_pre_post_width }
\BLOCK{ endif }
\BLOCK{ if broker_detailed_width > ns_max.max_table_width }
  \BLOCK{ set ns_max.max_table_width = broker_detailed_width }
\BLOCK{ endif }
\BLOCK{ if broker_type_width > ns_max.max_table_width }
  \BLOCK{ set ns_max.max_table_width = broker_type_width }
\BLOCK{ endif }
\BLOCK{ endfor }
% ---------- PAGE: CUSTOM LANDSCAPE ----------
\BLOCK{ set page_margin = 4 }
\BLOCK{ set calculated_height = [ns_max.max_columns * total_column_width + page_margin, 20]|max }
\BLOCK{ set calculated_width = [ns_max.max_table_width + page_margin, 59.4]|max }
\usepackage[
  paperwidth=\VAR{ calculated_width }cm,
  paperheight=\VAR{ calculated_height }cm,
  landscape,
  margin=2cm
]{geometry}
% ---------- PACKAGES ----------
\usepackage[utf8]{inputenc}
\usepackage{textcomp}
\usepackage{array}
\usepackage{ragged2e}
\usepackage{booktabs}
\usepackage{longtable}
\usepackage{enumitem}
\setlistdepth{6}
\renewlist{itemize}{itemize}{6}
\setlist[itemize,1]{label=\textbullet}
\setlist[itemize,2]{label=\textendash}
\setlist[itemize,3]{label=\textasteriskcentered}
\setlist[itemize,4]{label=\textperiodcentered}
\setlist[itemize,5]{label=\textbullet}
\setlist[itemize,6]{label=\textendash}
\setlength{\parindent}{0pt}
\setlength{\tabcolsep}{\VAR{ tabcolsep }cm}
\renewcommand{\arraystretch}{1.25}
\newcommand{\GBP}{\textsterling{}}
\begin{document}
\centerline{\Large\bfseries
Mixed funds calculations for
\VAR{ report.tax_year }--\VAR{ ("{:02d}".format((report.tax_year + 1) % 100)) }
}
\vspace{0.5cm}

% -------- LEGEND --------
\noindent\textbf{Category Legend:}
\begin{itemize}
\BLOCK{ for category in mixed_fund_category_class }
  \item \textbf{\VAR{ number_to_letter[category.value] }} -- \VAR{ category.name.replace("_", " ").title() }
\BLOCK{ endfor }
\end{itemize}
\vspace{0.5cm}

\BLOCK{ macro render_mixed_fund_table(columns, entries, aggregate_by_category, aggregate_by_pre_post_2025) }
\BLOCK{ set longest_message = namespace(value="") }
\BLOCK{ for entry in entries }
  \BLOCK{ if entry.message|length > longest_message.value|length }
    \BLOCK{ set longest_message.value = entry.message }
  \BLOCK{ endif }
\BLOCK{ endfor }
\settowidth{\mixedfundnarrativewidth}{\VAR{ latex_safe(longest_message.value) }}
\setlength{\mixedfundtablecontentwidth}{\dimexpr \mixedfundnumericcolwidth * \VAR{ columns|length }\relax}
\ifdim\mixedfundnarrativewidth>\mixedfundtablecontentwidth
  \setlength{\mixedfundtablecontentwidth}{\mixedfundnarrativewidth}
\fi
\setlength{\mixedfundcolcontentwidth}{\dimexpr (\mixedfundtablecontentwidth - 2\tabcolsep * \VAR{ columns|length } - \arrayrulewidth * (\VAR{ columns|length } + 1)) / \VAR{ columns|length }\relax}
\begin{longtable}{|*{\VAR{ columns|length }}{>{\RaggedRight\arraybackslash}p{\mixedfundcolcontentwidth}|}}
\hline
\BLOCK{ if aggregate_by_category }
\BLOCK{ for category in columns }
  \textbf{\VAR{ number_to_letter[category.value] }}\BLOCK{ if not loop.last } & \BLOCK{ endif }
\BLOCK{ endfor } \\
\hline
\BLOCK{ elif aggregate_by_pre_post_2025 }
\BLOCK{ set ns = namespace(current_period=none, period_span=0, output=[]) }
\BLOCK{ for is_post, category in columns }
  \BLOCK{ if is_post != ns.current_period }
    \BLOCK{ if ns.current_period is not none }
      \BLOCK{ set _ = ns.output.append('\\multicolumn{' ~ ns.period_span ~ '}{|c|}{\\textbf{' ~ pre_post_label[ns.current_period] ~ '}}') }
    \BLOCK{ endif }
    \BLOCK{ set ns.current_period = is_post }
    \BLOCK{ set ns.period_span = 1 }
  \BLOCK{ else }
    \BLOCK{ set ns.period_span = ns.period_span + 1 }
  \BLOCK{ endif }
  \BLOCK{ if loop.last }
    \BLOCK{ set _ = ns.output.append('\\multicolumn{' ~ ns.period_span ~ '}{|c|}{\\textbf{' ~ pre_post_label[ns.current_period] ~ '}}') }
  \BLOCK{ endif }
\BLOCK{ endfor }
\VAR{ ns.output | join(' & ') } \\
\hline
\BLOCK{ for _, category in columns }
  \textbf{\VAR{ number_to_letter[category.value] }}\BLOCK{ if not loop.last } & \BLOCK{ endif }
\BLOCK{ endfor } \\
\hline
\BLOCK{ else }
\BLOCK{ set ns = namespace(current_year=none, year_span=0, output=[]) }
\BLOCK{ for tax_year, category in columns }
  \BLOCK{ if tax_year != ns.current_year }
    \BLOCK{ if ns.current_year is not none }
      \BLOCK{ set year_label = "TRF Capital" if ns.current_year == TRF_CAPITAL_TAX_YEAR else ns.current_year }
      \BLOCK{ set _ = ns.output.append('\\multicolumn{' ~ ns.year_span ~ '}{|c|}{\\textbf{' ~ year_label ~ '}}') }
    \BLOCK{ endif }
    \BLOCK{ set ns.current_year = tax_year }
    \BLOCK{ set ns.year_span = 1 }
  \BLOCK{ else }
    \BLOCK{ set ns.year_span = ns.year_span + 1 }
  \BLOCK{ endif }
  \BLOCK{ if loop.last }
    \BLOCK{ set year_label = "TRF Capital" if ns.current_year == TRF_CAPITAL_TAX_YEAR else ns.current_year }
    \BLOCK{ set _ = ns.output.append('\\multicolumn{' ~ ns.year_span ~ '}{|c|}{\\textbf{' ~ year_label ~ '}}') }
  \BLOCK{ endif }
\BLOCK{ endfor }
\VAR{ ns.output | join(' & ') } \\
\hline
\BLOCK{ for tax_year, category in columns }
  \textbf{\VAR{ number_to_letter[category.value] }}\BLOCK{ if not loop.last } & \BLOCK{ endif }
\BLOCK{ endfor } \\
\hline
\BLOCK{ endif }
\endhead
\BLOCK{ for entry in entries }
\multicolumn{\VAR{ columns|length }}{|p{\mixedfundtablecontentwidth}|}{
\VAR{ latex_safe(entry.message) }
\BLOCK{ if entry.movements }
\begin{itemize}
  \BLOCK{ for y, c, a, impl, ft in entry.movements_display() }
    \item \VAR{ "TRF" if y == TRF_CAPITAL_TAX_YEAR else y } -- \VAR{ number_to_letter[c.value] } : \VAR{ c.name.replace("_", " ") }:
          \GBP\VAR{ "{:,}".format(round_decimal(a, 2)) }\BLOCK{ if impl is not none } $\Rightarrow$ UK \VAR{ impl.name.replace("_", " ").lower() }\BLOCK{ endif }\BLOCK{ if ft } (foreign tax \GBP\VAR{ "{:,}".format(round_decimal(-ft, 2)) })\BLOCK{ endif }
  \BLOCK{ endfor }
\end{itemize}
\BLOCK{ endif }
}
\\
\hline
\BLOCK{ set comp = {} }
\BLOCK{ if aggregate_by_category }
  \BLOCK{ for _, category, amount in entry.composition }
    \BLOCK{ if amount }
      \BLOCK{ set _ = comp.update({category: comp.get(category, Decimal(0)) + amount}) }
    \BLOCK{ endif }
  \BLOCK{ endfor }
\BLOCK{ elif aggregate_by_pre_post_2025 }
  \BLOCK{ for tax_year, category, amount in entry.composition }
    \BLOCK{ if amount }
      \BLOCK{ set key = (get_period(tax_year), category) }
      \BLOCK{ set _ = comp.update({key: comp.get(key, Decimal(0)) + amount}) }
    \BLOCK{ endif }
  \BLOCK{ endfor }
\BLOCK{ else }
  \BLOCK{ for tax_year, category, amount in entry.composition }
    \BLOCK{ if amount }
      \BLOCK{ set _ = comp.update({(tax_year, category): amount}) }
    \BLOCK{ endif }
  \BLOCK{ endfor }
\BLOCK{ endif }
\BLOCK{ for col in columns }
  \BLOCK{ set value = comp.get(col, Decimal(0)) }
  \VAR{ "{:,}".format(round_decimal(value, 2)) if value != 0 else "" }\BLOCK{ if not loop.last } & \BLOCK{ endif }
\BLOCK{ endfor } \\
\hline
\BLOCK{ endfor }
\end{longtable}
\BLOCK{ endmacro }

\BLOCK{ macro category_breakdown(items) }
\BLOCK{ if items }
\begin{itemize}
\BLOCK{ for category, amount in items.items() }
  \item \VAR{ category.name.replace("_", " ").title() }: \GBP\VAR{ "{:,}".format(round_decimal(amount, 2)) }
\BLOCK{ endfor }
\end{itemize}
\BLOCK{ endif }
\BLOCK{ endmacro }

\BLOCK{ macro category_breakdown_with_tax(items) }
\BLOCK{ if items }
\begin{itemize}
\BLOCK{ for category, (amount, tax) in items.items() }
  \item \VAR{ category.name.replace("_", " ").title() }: \GBP\VAR{ "{:,}".format(round_decimal(amount, 2)) }\BLOCK{ if tax } -- foreign tax paid: \GBP\VAR{ "{:,}".format(round_decimal(tax, 2)) }\BLOCK{ endif }
\BLOCK{ endfor }
\end{itemize}
\BLOCK{ endif }
\BLOCK{ endmacro }

\BLOCK{ for broker, entries in report.mixed_funds_log.items() }
\BLOCK{ set columns = report.mixed_funds_columns[broker] }
\BLOCK{ set pre_post_columns = report.mixed_funds_pre_post_2025_columns[broker] }
\BLOCK{ set type_columns = report.mixed_funds_type_columns[broker] }
\BLOCK{ if columns|length > 0 }
\section*{\VAR{ broker }}

\subsection*{Transfer-out breakdown}
\textbf{Total transferred out: \GBP\VAR{ "{:,}".format(round_decimal(report.transferred_out_total(broker), 2))}}
\begin{itemize}

\item \textbf{Remitted to the UK: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_total(broker), 2))}}
\begin{itemize}
  \item Income remitted: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_income(broker), 2))}
  \begin{itemize}
    \item With UK income tax implication: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_income_tax_implication(broker), 2))}
    \begin{itemize}
      \item Without foreign tax relief: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_income_tax_implication_no_relief(broker), 2))}
      \VAR{ category_breakdown(report.breakdown_by_category(broker, destination=Destination.UK, nature=RemittedIncomeType.INCOME, uk_implication=RemittedIncomeType.INCOME, has_foreign_tax=False)) }
      \item With foreign tax relief: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_income_tax_implication_with_relief(broker)[0], 2))} -- foreign tax paid: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_income_tax_implication_with_relief(broker)[1], 2))}
      \VAR{ category_breakdown_with_tax(report.breakdown_by_category_with_tax(broker, destination=Destination.UK, nature=RemittedIncomeType.INCOME, uk_implication=RemittedIncomeType.INCOME, has_foreign_tax=True)) }
    \end{itemize}
    \item Without UK tax implication: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_income_no_tax_implication(broker), 2))}
    \VAR{ category_breakdown(report.breakdown_by_category(broker, destination=Destination.UK, nature=RemittedIncomeType.INCOME, uk_implication=None)) }
  \end{itemize}
  \item Capital Gains remitted: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_gains(broker), 2))}
  \begin{itemize}
    \item With UK capital gains tax implication: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_gains_tax_implication(broker), 2))}
    \begin{itemize}
      \item Without foreign tax relief: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_gains_tax_implication_no_relief(broker), 2))}
      \VAR{ category_breakdown(report.breakdown_by_category(broker, destination=Destination.UK, nature=RemittedIncomeType.CAPITAL_GAIN, uk_implication=RemittedIncomeType.CAPITAL_GAIN, has_foreign_tax=False)) }
      \item With foreign tax relief: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_gains_tax_implication_with_relief(broker)[0], 2))} -- foreign tax paid: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_gains_tax_implication_with_relief(broker)[1], 2))}
      \VAR{ category_breakdown_with_tax(report.breakdown_by_category_with_tax(broker, destination=Destination.UK, nature=RemittedIncomeType.CAPITAL_GAIN, uk_implication=RemittedIncomeType.CAPITAL_GAIN, has_foreign_tax=True)) }
    \end{itemize}
    \item Without UK tax implication: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_gains_no_tax_implication(broker), 2))}
    \VAR{ category_breakdown(report.breakdown_by_category(broker, destination=Destination.UK, nature=RemittedIncomeType.CAPITAL_GAIN, uk_implication=None)) }
  \end{itemize}
  \item From pre-2025 buckets: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_pre_2025(broker), 2))}
  \VAR{ category_breakdown(report.breakdown_by_category(broker, destination=Destination.UK, pre_2025=True)) }
  \item From 2025 and later buckets: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_post_2025(broker), 2))}
  \VAR{ category_breakdown(report.breakdown_by_category(broker, destination=Destination.UK, pre_2025=False)) }
  \item From TRF Capital: \GBP\VAR{ "{:,}".format(round_decimal(report.remitted_from_trf_capital(broker), 2))}
  \BLOCK{ set remitted_by_cat = report.remitted_by_category(broker) }
  \BLOCK{ if remitted_by_cat }
  \item By category:
  \VAR{ category_breakdown(remitted_by_cat) }
  \BLOCK{ endif }
\end{itemize}

\item \textbf{Transferred overseas: \GBP\VAR{ "{:,}".format(round_decimal(report.transferred_overseas_total(broker), 2))}}
\begin{itemize}
  \item From pre-2025 buckets: \GBP\VAR{ "{:,}".format(round_decimal(report.transferred_overseas_pre_2025(broker), 2))}
  \VAR{ category_breakdown(report.breakdown_by_category(broker, destination=Destination.OVERSEAS, pre_2025=True)) }
  \item From 2025 and later buckets: \GBP\VAR{ "{:,}".format(round_decimal(report.transferred_overseas_post_2025(broker), 2))}
  \VAR{ category_breakdown(report.breakdown_by_category(broker, destination=Destination.OVERSEAS, pre_2025=False)) }
  \item From TRF Capital: \GBP\VAR{ "{:,}".format(round_decimal(report.transferred_overseas_from_trf_capital(broker), 2))}
  \BLOCK{ set overseas_by_cat = report.transferred_overseas_by_category(broker) }
  \BLOCK{ if overseas_by_cat }
  \item By category:
  \VAR{ category_breakdown(overseas_by_cat) }
  \BLOCK{ endif }
\end{itemize}

\end{itemize}
\vspace{0.5cm}

\subsection*{Recap by pre/post 2025 and type}
\VAR{ render_mixed_fund_table(pre_post_columns, report.mixed_funds_recap_log[broker], false, true) }
\subsection*{Recap by tax year and type}
\VAR{ render_mixed_fund_table(columns, report.mixed_funds_recap_log[broker], false, false) }
\subsection*{Recap by type}
\VAR{ render_mixed_fund_table(type_columns, report.mixed_funds_recap_log[broker], true, false) }
\subsection*{Mixed fund individual events}
\VAR{ render_mixed_fund_table(columns, entries, false, false) }
\clearpage
\BLOCK{ endif }
\BLOCK{ endfor }
\end{document}
